.contact {
  background-color: $sadipt-secondary-section-bck-color;
  padding: 80px 0;
}

.contact-input {
  width: 50%;
}

.contact-textarea {
  font-family: 'Roboto', sans-serif;
  width: 100%;
}


