.paralax {
  background-color: $sadipt-section-bck-color;
  height: 100%;
  padding: 0 0 100px;
  position: relative;
  width: 100%;
}

.partners {

  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    width: 100%;
    will-change: transform;

    @media screen and (max-width: $break-medium) {
      flex-wrap: wrap;
    }

    img {
      height: 105px;
      margin: 25px 15px;

      @media screen and (max-width: $break-large) {
        height: 85px;
      }

      @media screen and (max-width: $break-medium) {
        height: 70px;
      }
    }
  }
}
