$primary-color: #2196f3;
$accent-color: #009688;
$sadipt-white: #fff;
$image-placeholder-color: #ddd;
$sadipt-black: rgb(54, 60, 64);
$sadipt-section-bck-color: #f5f5f5;
$sadipt-secondary-section-bck-color: #eceff1;
$light-font-color: #fff;
$light-transparency-color: rgba(255, 255, 255, .15);
$dark-transparency-color: rgba(0, 0, 0, .15);
$primary-dark-font-color: rgba(0, 0, 0, .87);
$secondary-dark-font-color: rgba(0, 0, 0, .58);
$disabled-dark-font-color: rgba(0, 0, 0, .38);
$primary-light-font-color: rgba(255, 255, 255, 1);
$secondary-light-font-color: rgba(255, 255, 255, .70);
$disabled-light-font-color: rgba(255, 255, 255, .50);
$divider-dark-color: rgba(0, 0, 0, .12);
$divider-light-color: rgba(255, 255, 255, .12);
$shadow-key-umbra-opacity: .2;
$shadow-key-penumbra-opacity: .14;
$shadow-ambient-shadow-opacity: .12;
$default-font-size: 16px;
$default-line-height: 1.3;
$break-xlarge: 1600px;
$break-large: 1280px;
$break-medium: 1030px;
$break-small: 600px;
$break-xsmall: 480px;
