<!DOCTYPE html>
<html lang="es"> 
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Asociación de diagnostico prenatal y tratamiento.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>SADIPT</title>

    <!-- Add to homescreen -->
    <link rel="manifest" href="manifest.json">

    <!-- Fallback to homescreen for Chrome <39 on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="SADIPT">
    <link rel="icon" sizes="192x192"  href="img/assets/android-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="SADIPT">
    <link rel="apple-touch-icon" sizes="152x152" href="img/assets/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/assets/apple-icon-180x180.png">

    <meta name="msapplication-TileImage" content="img/assets/ms-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#ffffff">

    <meta name="theme-color" content="#ffffff">

    <link rel="shortcut icon" href="img/assets/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="img/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/assets/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/assets/favicon-16x16.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css" async>
    <link href="https://fonts.googleapis.com/css?family=Candal" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- build:[href] ./styles/ -->
    <link rel="stylesheet" href="../../dist/styles/style.min.css"/>
    <!-- /build -->
</head>
<body>
<header class="header header--seamed" id="header" role="banner">
  <div class="header__logo">
    <img src="img/logo-sadipt.png">
  </div>
  <div class="header__navigation">
    <div class="rwd-menu-icon" id="menuButton"><i class="material-icons">menu</i></div>
    <nav role="navigation" id="menu">
      <ul>
        <li><a href="#">SOCIEDAD</a></li>
        <li><a href="#">EVENTOS</a></li>
        <li><a href="#">ED. CONTINUA</a></li>
        <li><a href="#">CONTACTO</a></li>
      </ul>
    </nav>
  </div>
</header>
<main class="main generic" id="main" role="main">
  <section class="members">
    <div class="section-title"><div class="bordered"><span>AUTORIDADES</span></div></div>
    <div class="members-container">
      <div class="member">
        <div class="member__image">
          <img data-src="img/profile-default.jpg" data-alt="Dr. John Doe">
        </div>
        <div class="member__body">
          <div class="title title--small">
            Dr. John Doe
            <p class="subtitle subtitle--small">Presidente</p>
          </div>
          <div class="resume rows-number-5">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </div>
        </div>
      </div>
      <div class="member">
        <div class="member__image">
          <img data-src="img/profile-default.jpg" data-alt="Dr. John Doe">
        </div>
        <div class="member__body">
          <div class="title title--small">
            Dr. John Doe
            <p class="subtitle subtitle--small">Presidente</p>
          </div>
          <div class="resume rows-number-5">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </div>
        </div>
      </div>
      <div class="member">
        <div class="member__image">
          <img data-src="img/profile-default.jpg" data-alt="Dr. John Doe">
        </div>
        <div class="member__body">
          <div class="title title--small">
            Dr. John Doe
            <p class="subtitle subtitle--small">Presidente</p>
          </div>
          <div class="resume rows-number-5">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </div>
        </div>
      </div>
      <div class="member">
        <div class="member__image">
          <img data-src="img/profile-default.jpg" data-alt="Dr. John Doe">
        </div>
        <div class="member__body">
          <div class="title title--small">
            Dr. John Doe
            <p class="subtitle subtitle--small">Presidente</p>
          </div>
          <div class="resume rows-number-5">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </div>
        </div>
      </div>
      <div class="member">
        <div class="member__image">
          <img data-src="img/profile-default.jpg" data-alt="Dr. John Doe">
        </div>
        <div class="member__body">
          <div class="title title--small">
            Dr. John Doe
            <p class="subtitle subtitle--small">Presidente</p>
          </div>
          <div class="resume rows-number-5">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </div>
        </div>
      </div>
      <div class="member">
        <div class="member__image">
          <img data-src="img/profile-default.jpg" data-alt="Dr. John Doe">
        </div>
        <div class="member__body">
          <div class="title title--small">
            Dr. John Doe
            <p class="subtitle subtitle--small">Presidente</p>
          </div>
          <div class="resume rows-number-5">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="tables">
    <div class="section-title"><div class="bordered"><span>TABLAS</span></div></div>
    <div class="tables-container">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Especialidad</th>
            <th>Provincia</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Aguirre Young Maria Beatriz</td>
            <td>Tocoginecología</td>
            <td>CABA</td>
          </tr>
          <tr>
            <td>Aiello Horacio</td>
            <td>Obstetricia</td>
            <td>CABA</td>
          </tr>
          <tr>
            <td>Atienza Maria Victoria</td>
            <td>Tocoginecología</td>
            <td>Santa Fe</td>
          </tr>
          <tr>
            <td>Badano  Federico</td>
            <td>Diagnóstico por Imágenes</td>
            <td>Entre Ríos</td>
          </tr>
          <tr>
            <td>Bueno Nora Alicia</td>
            <td>Cardiología Pediátrica</td>
            <td>Córdoba</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <div class="elementos">
    <section class="elementos__columnas">
      <div class="section-title"><div class="bordered"><span>LISTAS</span></div></div>
      <div class="list-container">
        <div class="list-title"><span class="title title--small">Lista:</span></div>
        <ul class="list">
          <li class="list__item">Punto 1</li>
          <li class="list__item">Punto 2</li>
          <li class="list__item">Punto 3</li>
          <li class="list__item">Punto 4</li>
          <li class="list__item">Punto 5</li>
          <li class="list__item">Punto 6</li>
          <li class="list__item">Punto 7</li>
        </ul>
      </div>
    </section>
    <section class="elementos__columnas">
      <div class="section-title"><div class="bordered"><span>INPUTS</span></div></div>
      <form class="form">
        <fieldset>
          <input type="text" name="nombre">
          <input type="text" name="mail">
          <textarea rows="5"></textarea>
        </fieldset>
        <fieldset class="actions">
          <input type="submit" name="enviar" value="ENVIAR" class="button button--raised">
        </fieldset>
      </form>
    </section>
    <section class="elementos__columnas">
      <div class="section-title"><div class="bordered"><span>MISC</span></div></div>
      <div class="misc">
        <div class="misc__item"><label>Checkbox <input type="checkbox" name="checkbox"></label></div>
        <div class="misc__item"><label>Radio Button <input type="radio" name="checkbox"></label></div>
        <div class="misc__item"><label>Radio Button <select name="select"><option>Opcion 1</option><option>Opcion 2</option></select></label></div>
        <div class="misc__item"></div>
        <div class="misc__item"></div>
      </div>
    </section>
  </div>
</main>
<footer class="footer" id="footer" role="contentinfo">
  <div class="footer__column">
    <div class="title">Mapa del sitio</div>
    <ul>
      <li><a href="#">Sociedad</a></li>
      <li><a href="#">Eventos</a></li>
      <li><a href="#">Educacion</a></li>
      <li><a href="#">Socios</a></li>
    </ul>
  </div>
  <div class="footer__column">
    <div class="title">Links</div>
    <ul>
      <li><a href="#">ispd.com</a></li>
      <li><a href="#">fmf.com</a></li>
      <li><a href="#">fmf-la.com.br</a></li>
      <li><a href="#">fetal.com</a></li>
    </ul>
  </div>
  <div class="footer__column">
    <div class="title">Sobre nosotros</div>
    <ul>
      <li>SADIPT</li>
      <li>Asociacion Civil N° 120109448</li>
      <li>Av. El Libertador 2540</li>
      <li>Cordoba, Argentina</li>
      <li>CP 5000</li>
    </ul>
  </div>
  <div class="footer__column">
    <div class="title">Redes sociales</div>
    <ul>
      <li><a href="#">Facebook</a></li>
      <li><a href="#">twitter</a></li>
      <li><a href="#">instagram</a></li>
    </ul>
  </div>
  <div class="footer__bottom">
    <div class="developer">
      <p>SADIPT © Todos los derechos reservados</p>
      <p>Desarrollado por</p>
      <a href="http://www.fundasoft.org" target="_blank"><img src="img/logof.png"></a>
    </div>
  </div>
</footer>
<!-- build:[src] ./scripts/ -->
<script src="../../dist/scripts/main.min.js"></script>
<!-- /build -->
<script>
  window.addEventListener('load', function() {
    //inicializa la pagina
    SADIPT.init();
    LazyLoad.init();
  }, false);
</script>
</body>
</html>
